{% extends "mainapp/layout.html" %}
{% load django_vite %}
{% block pagename %}Homepage{% endblock %}
{% block headadditions %}
<style>
	.render-pane {
		min-height: 256px;
	}
</style>
{% for model in models %}
<link rel="preload" href="/api/model/{{ model.model_id }}/{{ model.revision }}" as="fetch" crossorigin>
{% endfor %}
{% endblock %}
{% block body %}
<div class="container">
	<div class="col-12">
		<h1>3D Model Repository</h1>
	</div>
	<hr>
	{% if models %}
	<div class="row flex">
		{% for model in models %}
		{% include "mainapp/modelpanel.html" %}
		{% endfor %}
	</div>
	{% endif %}
	{% if paginator %}
	<div class="row" style="margin-bottom:30px;text-align:center;">
		<div class="btn-group" role="group" aria-label="...">
			{% for page in paginator.page_range %}
			{% if page == page_id %}
			<a class="btn btn-primary disabled">{{ page }}</a>
			{% else %}
			<a href="{% url 'index' %}?page={{ page }}" class="btn btn-default">{{ page }}</a>
			{% endif %}
			{% endfor %}
		</div>
	</div>
	{% else %}
	<p>No models exist.</p>
	{% endif %}
</div>
{% endblock %}
{% block footeradditions %}
{% vite_asset 'src/main.js' %}
<script>
	window.addEventListener("load", function () {
		const elems = document.querySelectorAll('div.render-pane');
		for (const elem of elems) {
			const model_id = elem.dataset.model;
			const revision = elem.dataset.revision;
			const url = "/api/model/" + model_id + "/" + revision;

			const preview = new ModelPreview(elem.id);
			preview.loadAndDisplay(url);
		}
	});
</script>
{% endblock %}