{% load static %}
{% load django_vite %}
{% if form_file %}
{% endif %}

<form action="{% if revise %}{% url 'revise' model.model_id %}{% elif edit %}{% url 'edit' model.model_id model.revision %}{% else %}{% url 'upload' %}{% endif %}" method="post" enctype="multipart/form-data"{% if form_metadata %} onsubmit="return checkNumbers();"{% endif %}>
	{% csrf_token %}
	{% if form_metadata %}
	<div class="form-group required">
		<label for="{{ form.title.id_for_label }}">{{ form.title.label }}:</label>
		{% for error in form.title.errors %}<div class="alert alert-danger" role="alert">{{ error }}</div>{% endfor %}
		{{ form.title }}
	</div>
	{% endif %}
	{% if form_file %}
	<div class="form-group required">
		<label for="{{ form.model_file.id_for_label }}">{{ form.model_file.label }}</label>
		{% for error in form.model_file.errors.as_data %}
		<div class="alert alert-danger" role="alert">
			{{ error.message }}
			{% if error.code == 'glb_validation_failed' and form.model_file.field.glb_errors %}
			<button type="button" class="btn btn-danger btn-sm" onclick="showGlbErrors()">
				View Details
			</button>
			{% endif %}
		</div>
		{% endfor %}
		{{ form.model_file }}
	</div>
	<div id="model-preview" style="margin-bottom: 15px; display: none;">
		<div class="tab-content" style="overflow: hidden; display: flex; align-items: flex-start;">
			<div id="view" class="col-md-4" role="tabpanel">
				<b style="margin-bottom: 8px;">3D Preview</b>
				<div class="render-pane" id="render-pane">
					<div id="fullscreen-button">&#x26F6;</div>
					<div id="labels-container"></div>
					<div id="scale-container" style="display: none;">
						<span>Grid Spacing:</span>
						<span id="grid-spacing-value">-</span>
					</div>
				</div>
			</div>

			<div id="model-stats" role="tabpanel">
				<b style="margin: 0 0 8px 0;">Model Stats</b>
				{% include 'mainapp/model_stats.html' %}
			</div>

		</div>
	</div>
	<div id="model-status"></div>
	<span class="help-block">Please use the full screen preview above to ensure that your model's alignment is in line
		with the world directions.</span>
	{% endif %}
	{% if form_metadata %}
	<div class="form-group">
		<label for="{{ form.description.id_for_label }}">{{ form.description.label }}:</label>
		{% for error in form.description.errors %}<div class="alert alert-danger" role="alert">{{ error }}</div>{% endfor %}
		{{ form.description }}
	</div>
	<div class="form-group">
		<label for="{{ form.tags.id_for_label }}">{{ form.tags.label }}:</label>
		{% for error in form.tags.errors %}<div class="alert alert-danger" role="alert">{{ error }}</div>{% endfor %}
		{{ form.tags }}
	</div>
	<div class="form-group">
		<label for="{{ form.categories.id_for_label }}">{{ form.categories.label }}:</label>
		{% for error in form.categories.errors %}<div class="alert alert-danger" role="alert">{{ error }}</div>{% endfor %}
		{{ form.categories }}
	</div>
	<label for="map">Approximate position:</label>
	<div id="map"></div>
	<p id="map-descriptor"></p>

	<div class="row flex" style="justify-content: space-between;">
		<div class="form-group" style="width: 45%;">
			<label for="{{ form.latitude.id_for_label }}">{{ form.latitude.label }}:</label>
			{% for error in form.latitude.errors %}<div class="alert alert-danger" role="alert">{{ error }}</div>{% endfor %}
			<div class="alert alert-danger" role="alert" id="latitude-error" style="display: none;"></div>
			{{ form.latitude }}
		</div>
		<div class="form-group" style="width: 45%;">
			<label for="{{ form.longitude.id_for_label }}">{{ form.longitude.label }}:</label>
			{% for error in form.longitude.errors %}<div class="alert alert-danger" role="alert">{{ error }}</div>{% endfor %}
			<div class="alert alert-danger" role="alert" id="longitude-error" style="display: none;"></div>
			{{ form.longitude }}
		</div>
	</div>
	<div class="form-group">
		<label>Where does the model come from?</label>
		{% for error in form.model_source.errors %}<div class="alert alert-danger" role="alert">{{ error }}</div>{% endfor %}
		{% for radio in form.model_source %}
		<div class="radio">
			<label>{{ radio.tag }}{{ radio.choice_label }}</label>
		</div>
		{% endfor %}
	</div>
	<div id="model-source" class="form-group">
		<label for="{{ form.source.id_for_label }}">{{ form.source.label }}:</label>
		{% for error in form.source.errors %}<div class="alert alert-danger" role="alert">{{ error }}</div>{% endfor %}
		<div class="alert alert-danger" role="alert" id="source-error" style="display: none;"></div>
		{{ form.source }}
		<span id="source-help" class="help-block">If available, please provide a direct link to the source model. If a
			link isn't available, briefly describe where it came from.</span>
	</div>
	<div class="form-group">
		<label>License</label>
		{% for error in form.license.errors %}<div class="alert alert-danger" role="alert">{{ error }}</div>{% endfor %}
		{% for radio in form.license %}
		<div class="radio">
			<label>{{ radio.tag }}{{ radio.choice_label }}</label>
		</div>
		{% endfor %}
		<span id="license-help" class="help-block"></span>
	</div>
	{% endif %}
	<div class="alert alert-danger" role="alert" id="form-error" style="display: none;"></div>
	<button type="submit" class="btn btn-default">{% if revise %}Revise Model{% elif edit %}Edit Metadata{% else %}Upload Model{% endif %}</button>
</form>
{% if form_metadata %}
<script>
	function updateLatLon(lat, lon) {
		document.getElementById('id_latitude').value = lat;
		document.getElementById('id_longitude').value = ((lon - 180) % 360) + 180;
	}

	function createMarker(lat, lon) {
		marker = new L.marker([lat, lon], { draggable: true }).addTo(map);
		marker.on('drag', function (e) {
			updateLatLon(e.latlng.lat, e.latlng.lng);
		});
	}

	var map = L.map('map');
	map.on('load', function () {
		var descriptor = document.getElementById('map-descriptor');
		descriptor.innerHTML = 'Click anywhere on the map to set approximate longitude/latitude values.<br/>This will only be attached to the model\'s metadata.';
	});
	map.setView([51.505, -0.09], 3);

	L.tileLayer("http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
		attribution: 'Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors',
		minZoom: 2,
		maxZoom: 18
	}).addTo(map);

	var marker = undefined;

	var latitude = parseFloat(document.getElementById('id_latitude').value);
	var longitude = parseFloat(document.getElementById('id_longitude').value);

	if (latitude && longitude) {
		updateLatLon(latitude, longitude);
		createMarker(latitude, longitude);
	}

	map.on('click', function (e) {
		if (marker)
			marker.remove(map);

		updateLatLon(e.latlng.lat, e.latlng.lng);
		createMarker(e.latlng.lat, e.latlng.lng);
	});

	function displayError(name, message) {
		var errorAlert = document.getElementById(name + "-error");
		errorAlert.innerHTML = message;
		errorAlert.style.display = 'block';
	}

	function checkNumbers() {
		var data = {
			latitude: ['{{ form.latitude.id_for_label }}', -90, 90],
			longitude: ['{{ form.longitude.id_for_label }}', -180, 180],
		}

		ok = true;

		for (k in data) {
			var arr = data[k];
			var element = document.getElementById(arr[0]);
			var valueString = element.value;

			if (valueString == '')
				continue;

			var value = parseFloat(valueString.replace(',', '.'));
			console.log(value);
			if (isNaN(value)) {
				displayError(k, "Must be a number.");
				ok = false;
				continue;
			}
		}

		if (!ok)
			displayError('form', 'Recheck the form for errors.');

		return ok;
	}

	document.addEventListener('DOMContentLoaded', function () {
		const licenseHelp = document.getElementById('license-help');
		const radioButtons = document.querySelectorAll('input[name="model_source"]');
		const modelSource = document.getElementById('model-source');

		function toogle(selectedValue) {
			licenseHelp.innerHTML = selectedValue !== 'self_created' ?
				'Please check the license of the source and make sure you are allowed to upload the model somewhere else <strong>without having to give attribution</strong>. Please also provide the original source.' :
				'';
			modelSource.style.display = selectedValue === 'self_created' ? 'none' : 'block';
		}

		radioButtons.forEach(radio => {
			radio.addEventListener('change', function () {
				toogle(this.value);
			});
		});

		const selectedRadio = document.querySelector('input[name="model_source"]:checked');
		if (selectedRadio) {
			toogle(selectedRadio.value);
		}
	});
</script>
{% endif %}

{% if form_file %}
{% vite_asset 'src/main.js' %}
<script type="module">
	document.getElementById('{{ form.model_file.id_for_label }}')
		.addEventListener("change", function (event) {
			const file = event.target.files[0];
			if (file) {
				const fileURL = URL.createObjectURL(file);

				const options = { width: 400, height: 350 };
				const model_preview = document.getElementById("model-preview");
				const renderPane = document.getElementById("render-pane");
				const canvases = document.getElementsByTagName("canvas");
				for (const canvas of canvases) {
					if (renderPane.contains(canvas)) {
						renderPane.removeChild(canvas);
					}
				}

				model_preview.style.display = "block";
				const preview = new ModelPreview("render-pane", options);
				preview.loadAndDisplay(fileURL, function (gltf) {
					const stats = new ModelStats();
					stats.processModel(gltf);
				});
			} else {
				document.getElementById("model-preview").style.display = "none";
			}
		});
</script>
{% endif %}

{% if form.model_file.field.glb_errors %}
{{ form.model_file.field.glb_errors|json_script:"glb-errors-data" }}
{% endif %}

<script>
	function showGlbErrors() {
		const errorsDataElement = document.getElementById('glb-errors-data');
		if (!errorsDataElement) return;

		const errors = JSON.parse(errorsDataElement.textContent);

		const popup = window.open('', 'GLB Validation Errors', 'popup');

		let tableContent = '';
		errors.forEach((error, index) => {
			tableContent += `
            <tr>
                <td>${index + 1}</td>
                <td>${error.message}</td>
                <td><code>${error.pointer}</code></td>
            </tr>
        `;
		});

		popup.document.write(`
        <!DOCTYPE html>
        <html>
        <head>
            <title>GLB Validation Errors</title>
			<link rel="stylesheet" href="{% static 'mainapp/lib/bootstrap.min.css' %}">
        </head>
        <body>
            <h2>GLB Validation Errors</h2>
            <p>The following errors were found in the uploaded GLB file:</p>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Error Message</th>
                        <th>Node Pointer</th>
                    </tr>
                </thead>
                <tbody>
                    ${tableContent}
                </tbody>
            </table>
        </body>
        </html>
    `);
		popup.document.close();
	}
</script>