{% extends "mainapp/layout.html" %}
{% block pagename %}{{ model.title }}{% endblock %}
{% block headadditions %}
{% load static %}
{% load django_vite %}
<link rel="stylesheet" href="{% static 'mainapp/lib/leaflet.css' %}">
<script src="{% static 'mainapp/lib/leaflet.js' %}"></script>
<style>
	#mapdiv {
		width: 750px;
		height: 480px;
	}

	.render-pane {
		min-height: 480px;
	}
</style>
<script>
	var model_id = {{ model.model_id }};
	var revision = {{ model.revision }};
</script>
<link rel="preload" href="/api/model/{{ model.model_id }}/{{ model.revision }}" as="fetch" crossorigin>
{% load static %}
{% load compress %}
{% compress js %}
<script src="{% static 'mainapp/map.js' %}"></script>
{% endcompress %}
{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<br>
		<div class="col-md-12">
			<ul class="nav nav-tabs" role="tablist">
				<li class="nav-item active"><a class="nav-link active" data-toggle="tab" href="#view" role="tab">3D
						View</a></li>
				{% if model.location %}
				<li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#map" role="tab">Map</a></li>
				{% endif %}
			</ul>
		</div>
		<div class="col-md-8" style="margin-bottom: 20px;">
			<div id="model-status"></div>
			<div id="model-preview">
				<div class="tab-content" style="overflow: hidden;">
					<div class="tab-pane active" id="view" role="tabpanel">
						<div class="render-pane" data-model="{{ model.model_id }}" data-revision="{{ model.revision }}"
							id="render-pane{{ model.model_id }}.{{ model.revision }}" style="height: 480px;">
							<div id="fullscreen-button">&#x26F6;</div>
							<div id="labels-container"></div>
							<div id="scale-container" style="display: none;">
								<span>Grid Spacing:</span>
								<span id="grid-spacing-value">-</span>
							</div>
						</div>
					</div>
					{% if model.location %}
					<div class="tab-pane" id="map" role="tabpanel">
						<div id="mapdiv">
						</div>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
		<div>
			<div class="col-md-4">
				{% if model.is_hidden %}
				<div class="panel panel-danger">
					{% else %}
					<div class="panel panel-primary">
						{% endif %}
						<div class="panel-heading">
							<h3 class="panel-title">
								{{ model.title }}
								{% if not latest_page %}
								<small style="cursor:help;"
									title="This is {% if model.latest %}the latest version{% else %}an older version{% endif %}">
									(Revision {{ model.revision }})
								</small>
								{% endif %}

							</h3>
						</div>
						<div class="panel-body" style="padding:0px;">
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation" class="active"><a href="#overview" aria-controls="overview"
										role="tab" data-toggle="tab">Overview</a></li>
								<li role="presentation"><a href="#stats" aria-controls="stats" role="tab"
										data-toggle="tab">Stats</a></li>
								<li role="presentation"><a href="#history" aria-controls="history" role="tab"
										data-toggle="tab">History</a></li>
							</ul>
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active" id="overview">
									{% include 'mainapp/model_overview.html' %}
								</div>
								<div role="tabpanel" class="tab-pane" id="stats">
									{% include 'mainapp/model_stats.html' %}
								</div>
								<div role="tabpanel" class="tab-pane" id="history">
									{% include 'mainapp/model_history.html' %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			{% if model.location %}
			initMap("mapdiv", {{ model.location.latitude }}, {{ model.location.longitude }}, 750, 480);
			{% endif %}
		</script>
		{% endblock %}
		{% block footeradditions %}
		{% vite_asset 'src/main.js' %}
		<script>
			window.addEventListener("load", function () {
				const elems = document.querySelectorAll('div.render-pane');
				for (const elem of elems) {
					const model_id = elem.dataset.model;
					const revision = elem.dataset.revision;
					const url = "/api/model/" + model_id + "/" + revision;
					const preview = new ModelPreview(elem.id);
					preview.loadAndDisplay(url, function (gltf) {
						const stats = new ModelStats();
						stats.processModel(gltf);
					});
				}
			});

			confirmDeleteModel = function () {
				return confirm("Are you sure you want to delete this model? This action cannot be undone.");
			};
		</script>
		{% endblock %}